{% extends 'admin/base.html' %}

{% block content %}

<div class="content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <div class="card mt-1">
          <div class="card-header card-header-primary">
            <h4 class="card-title">Categorias</h4>
            <p class="card-category">Gerenciamento de categorias</p>
          </div>
          <div class="card-body">
            <div class="row">
              <div class="col-md-12">
                <a href="/categorias/nova/" class="btn btn-primary">Adicionar categoria</a>
                <hr>
              </div>
            </div>
            <div class="table-responsive">
              <table class="table">
                <thead class=" text-primary">
                  <th>ID</th>
                  <th>Nome</th>
                  <th>Descrição</th>
                  <th colspan="2">Ações</th>
                </thead>
                <tbody>
                  {% for categoria in categorias %}
                  <tr>
                    <td>{{ categoria.id_categoria }}</td>
                    <td>{{ categoria.nome }}</td>
                    <td>{{ categoria.descricao }}</td>
                    <th><a href="/categorias/{{categoria.id_categoria}}"><i class="material-icons">edit</i></a></th>
                    <th><button class="btn btn-primary" id="{{ categoria.id_categoria }}" onclick="javascript:excluir_item('categorias', this.id);"><i class="material-icons">delete</i></button></th>
                  </tr>
                  {% endfor %}
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock %}