<!--
=========================================================
Material Dashboard - v2.1.2
=========================================================

Product Page: https://www.creative-tim.com/product/material-dashboard
Copyright 2020 Creative Tim (https://www.creative-tim.com)
Coded by Creative Tim

=========================================================
The above copyright notice and this permission notice shall be included in all copies or substantial portions of the Software. -->

<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta content='width=device-width, initial-scale=1.0, shrink-to-fit=no' name='viewport' />
    <link rel="icon" type="image/png" href="{{ url_for('static', filename='admin/assets/img/favicon.png') }}" />   
    <title> RootCow - Dashboard </title>

    <!--     Fonts and icons     -->
    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Roboto+Slab:400,700|Material+Icons" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css" />

    <!-- CSS Files -->
    <link href="{{ url_for('static', filename='admin/assets/css/material-dashboard.css') }}" rel="stylesheet" />

    <!-- CSS's próprios -->
    <link href="{{ url_for('static', filename='admin/assets/css/styles.css')}}" rel="stylesheet" />
</head>

<body class="">
    <div class="wrapper">
        <div class="sidebar" data-color="purple" data-background-color="white" data-image="{{ url_for('static', filename='admin/assets/img/sidebar.jpg') }}" >

            <div class="logo">
                <a href="/" class="simple-text logo-normal"> ROOTCOW </a>
            </div>

            <div class="sidebar-wrapper">
                <ul class="nav">
                    <li class="nav-item" id="dashboard">
                        <a class="nav-link" href="/">
                            <i class="material-icons">dashboard</i>
                            <p>Dashboard</p>
                        </a>
                    </li>
                    <li class="nav-item" id="clientes">
                        <a class="nav-link" href="/clientes/">
                            <i class="material-icons">perm_contact_calendar</i>
                            <p>Clientes</p>
                        </a>
                    </li>
                    <li class="nav-item" id="fornecedores">
                        <a class="nav-link" href="/fornecedores/">
                            <i class="material-icons">local_shipping</i>
                            <p>Fornecedores</p>
                        </a>
                    </li>
                    <li class="nav-item" id="instituicoes">
                        <a class="nav-link" href="/instituicoes/">
                            <i class="material-icons">apartment</i>
                            <p>Instituições</p>
                        </a>
                    </li>
                    <li class="nav-item" id="categorias">
                        <a class="nav-link" href="/categorias/">
                            <i class="material-icons">category</i>
                            <p>Categorias</p>
                        </a>
                    </li>
                    <li class="nav-item" id="produtos">
                        <a class="nav-link" href="/produtos/">
                            <i class="material-icons">shopping_basket</i>
                            <p>Produtos</p>
                        </a>
                    </li>
                </ul>
            </div>
        </div>

        <div class="main-panel">
            <!-- Navbar -->
            <nav class="navbar navbar-expand-lg navbar-transparent navbar-absolute fixed-top">
                <div class="container-fluid">
                    <div class="navbar-wrapper">
                        <a class="navbar-brand" href="/">Dashboard</a>
                    </div>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" aria-controls="navigation-index" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="navbar-toggler-icon icon-bar"></span>
                        <span class="navbar-toggler-icon icon-bar"></span>
                        <span class="navbar-toggler-icon icon-bar"></span>
                    </button>
                </div>
            </nav>
            <!-- End Navbar -->

            <!-- Bloco para o conteúdo das páginas que extenderem o base -->
            {% block content %}

            {% endblock %}

            <footer class="footer">
                <div class="container-fluid">
                    <div class="copyright float-right">
                        Feito com <i class="material-icons">favorite</i>
                        <span>NOWI</span>
                        &copy;
                        <a href="https://www.creative-tim.com" target="_blank">Creative Tim</a>
                        <script>
                            document.write(new Date().getFullYear())
                        </script>
                    </div>
                </div>
            </footer>
        </div>
    </div>

    <!--   Core JS Files   -->
    <script src="{{ url_for('static', filename='admin/assets/js/core/jquery.min.js') }}"></script>
    <script src="{{ url_for('static', filename='admin/assets/js/core/popper.min.js') }}"></script>
    <script src="{{ url_for('static', filename='admin/assets/js/core/bootstrap-material-design.min.js')}}"></script>
    <script src="{{ url_for('static',filename='admin/assets/js/plugins/perfect-scrollbar.jquery.min.js')}}"></script>

    <!--  Plugin for Sweet Alert -->
    <script src="{{ url_for('static', filename='admin/assets/js/plugins/sweetalert2.js') }}"></script>

    <!-- Forms Validations Plugin -->
    <script src="{{ url_for('static', filename='admin/assets/js/plugins/jquery.validate.min.js') }}"></script>

    <style>
        /*
        <!-- Plugin for the momentJs  -->
        <script src="{{ url_for('static', filename='admin/assets/js/plugins/moment.min.js') }}"></script>

        <!-- Plugin for the Wizard, full documentation here: https://github.com/VinceG/twitter-bootstrap-wizard -->
        <script src="{{ url_for('static', filename='admin/assets/js/plugins/jquery.bootstrap-wizard.js') }}"></script>

        <!--	Plugin for Select, full documentation here: http://silviomoreto.github.io/bootstrap-select -->
        <script src="{{ url_for('static', filename='admin/assets/js/plugins/bootstrap-selectpicker.js') }}"></script>

        <!--  Plugin for the DateTimePicker, full documentation here: https://eonasdan.github.io/bootstrap-datetimepicker/ -->
        <script src="{{ url_for('static', filename='admin/assets/js/plugins/bootstrap-datetimepicker.min.js')}}"></script>

        <!--  DataTables.net Plugin, full documentation here: https://datatables.net/  -->
        <script src="{{ url_for('static', filename='admin/assets/js/plugins/jquery.dataTables.min.js') }}"></script>

        <!--	Plugin for Tags, full documentation here: https://github.com/bootstrap-tagsinput/bootstrap-tagsinputs  -->
        <script src="{{ url_for('static', filename='admin/assets/js/plugins/bootstrap-tagsinput.js') }}"></script>

        <!-- Plugin for Fileupload, full documentation here: http://www.jasny.net/bootstrap/javascript/#fileinput -->
        <script src="{{ url_for('static', filename='admin/assets/js/plugins/jasny-bootstrap.min.js') }}"></script>

        <!--  Full Calendar Plugin, full documentation here: https://github.com/fullcalendar/fullcalendar    -->
        <script src="{{ url_for('static', filename='admin/assets/js/plugins/fullcalendar.min.js') }}"></script>

        <!-- Vector Map plugin, full documentation here: http://jvectormap.com/documentation/ -->
        <script src="{{ url_for('static', filename='admin/assets/js/plugins/jquery-jvectormap.js') }}"></script>

        <!--  Plugin for the Sliders, full documentation here: http://refreshless.com/nouislider/ -->
        <script src="{{ url_for('static', filename='admin/assets/js/plugins/nouislider.min.js') }}"></script>

        <!-- Library for adding dinamically elements -->
        <script src="{{ url_for('static', filename='admin/assets/js/plugins/arrive.min.js') }}"></script>
        */
    </style>

    <!-- Chartist JS -->
    <script src="{{ url_for('static', filename='admin/assets/js/plugins/chartist.min.js') }}"></script>

    <!--  Notifications Plugin    -->
    <script src="{{ url_for('static', filename='admin/assets/js/plugins/bootstrap-notify.js') }}"></script>

    <!-- Control Center for Material Dashboard: parallax effects, scripts for the example pages etc -->
    <script src="{{ url_for('static', filename='admin/assets/js/material-dashboard.js') }}"></script>

    <!-- Include a polyfill for ES6 Promises (optional) for IE11, UC Browser and Android browser support SweetAlert -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/core-js/2.4.1/core.js"></script>

    <!-- Jquery mask - Mascaras -->
    <script src="{{ url_for('static', filename='admin/assets/js/plugins/jquery.mask.js') }}"></script>

    <!-- Funções JS próprias  -->
    <script src="{{ url_for('static', filename='admin/assets/js/scripts.js') }}"></script>

    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            {% for category, message in messages %}
            <script type="text/javascript"> notificacao('top', 'center', 'success', '{{ message|capitalize }}')</script>
            {% endfor %}
        {% endif %}
    {% endwith %}

</body>

</html>