div#modalMessage {
    animation-name: show;
    animation-duration: 1900ms;
    transition: all 800ms;
}

div#modalMessage.alert.alert-success.col-md-5.mb-5.container-fluid.hide {
    opacity: 0;
    visibility: hidden;
    height: 0;
    margin-top: -70px;
}

@keyframes show {
    from {
        opacity: 0;
        margin-top: -70px;
    }
    to {
        opacity: 1;
        margin-top: 0px;
    }
}


/* LOGIN */
.form-control.form-rose, .is-focused .form-control.form-rose {
    background-image: linear-gradient(to top, #ea2c6d 2px, rgba(156, 39, 176, 0) 2px), linear-gradient(to top, #d2d2d2 1px, rgba(210, 210, 210, 0) 1px);
}