{% extends 'admin/base.html' %}

{% block content %}

<div class="content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="card-header card-header-primary">
            <h4 class="card-title">Cliente</h4>
            <p class="card-category">Incluir cliente</p>
          </div>
          <div class="card-body">

            <form method="POST">
              <div class="row">
                <div class="col-md-6">
                  <div class="form-group">
                    <label class="bmd-label-floating">Nome</label>
                    <input type="text" class="form-control" name="nome" value="{{ nome }}" required autocomplete="off">
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group">
                    <label class="bmd-label-floating">E-mail</label>
                    <input type="email" class="form-control" name="email" value="{{ email }}" required autocomplete="off">
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-4">
                  <div class="form-group">
                    <label class="bmd-label-floating">CPF</label>
                    <input type="text" class="form-control mask_cpf" name="cpf" value="{{ cpf }}" required autocomplete="off">
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="form-group">
                    <label class="bmd-label-floating">RG</label>
                    <input type="text" class="form-control" name="rg" value="{{ rg }}" required autocomplete="off">
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="form-group">
                    <label class="bmd-label-floating">Telefone</label>
                    <input type="text" class="form-control mask_tel_cel" name="telefone" value="{{ telefone }}" required autocomplete="off">
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-6">
                  <div class="form-group">
                    <label class="bmd-label-floating">Endereço</label>
                    <input type="text" class="form-control" name="endereco" value="{{ endereco }}" required autocomplete="off">
                  </div>
                </div>
              </div>
              <button type="submit" class="btn btn-primary pull-right">{{botao}}</button>
              <div class="clearfix"></div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock %}