{% extends 'admin/base.html' %}

{% block content %}

<div class="content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <div class="card mt-1">
          <div class="card-header card-header-primary">
            <h4 class="card-title">Produtos</h4>
            <p class="card-category">Gerenciamento de produtos</p>
          </div>
          <div class="card-body">
            <div class="row">
              <div class="col-md-12">
                <a href="/produtos/novo/" class="btn btn-primary">Adicionar produto</a>
                <hr>
              </div>
            </div>
            <div class="table-responsive">
              <table class="table">
                <thead class=" text-primary">
                  <th>ID</th>
                  <th>Nome</th>
                  <th>Quantidade</th>
                  <th>Valor Compra</th>
                  <th>Valor Venda</th>
                  <th>Categoria</th>
                  <th>Fornecedor</th>
                  <th colspan="2">Ações</th>
                </thead>
                <tbody>
                  {% for produto in produtos %}
                  <tr>
                    <td>{{ produto.id_produto }}</td>
                    <td>{{ produto.nome }}</td>
                    <td>{{ produto.quantidade }}</td>
                    <td>R$ {{ produto.valor_compra }}</td>
                    <td>R$ {{ produto.valor_venda }}</td>
                    <td>{{ produto.categoria.nome }}</td>
                    <td>{{ produto.fornecedor.nome }}</td>
                    <th><a href="/produtos/{{ produto.id_produto }}"><i class="material-icons">edit</i></a></th>
                    <th><button  class="btn btn-primary" id="{{ produto.id_produto }}" onclick="javascript:excluir_item('produtos',this.id);"><i class="material-icons">delete</i></button></th>
                  </tr>
                  {% endfor %}
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock %}