{% extends 'admin/base.html' %}

{% block content %}

<div class="content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <div class="card mt-1">
          <div class="card-header card-header-primary">
            <h4 class="card-title">Fornecedores</h4>
            <p class="card-category">Gerenciamento de fornecedores</p>
          </div>
          <div class="card-body">
            <div class="row">
              <div class="col-md-12">
                <a href="/fornecedores/novo/" class="btn btn-primary">Adicionar fornecedor</a>
                <hr>
              </div>
            </div>
            <div class="table-responsive">
              <table class="table">
                <thead class=" text-primary">
                  <th>ID</th>
                  <th>Nome</th>
                  <th>E-mail</th>
                  <th>Telefone</th>
                  <th>Endereço</th>
                  <th colspan="2">Ações</th>
                </thead>
                <tbody>
                  {% for fornecedor in fornecedores %}
                  <tr>
                    <td>{{ fornecedor.id_fornecedor }}</td>
                    <td>{{ fornecedor.nome }}</td>
                    <td>{{ fornecedor.email }}</td>
                    <td>{{ fornecedor.telefone }}</td>
                    <td>{{ fornecedor.endereco }}</td>
                    <th><a href="/fornecedores/{{fornecedor.id_fornecedor}}"><i class="material-icons">edit</i></a></th>
                    <th><button class="btn btn-primary" id="{{ fornecedor.id_fornecedor }}" onclick="javascript:excluir_item('fornecedores', this.id);"><i class="material-icons">delete</i></button></th>
                  </tr>
                  {% endfor %}
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock %}